*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tempspan{
    font-size: 5rem;
    color: maroon;
}
#temperature{
    margin-left: 1rem;
}
h1 {
    margin-bottom: 3rem;
    font-size: 3rem;

}
button{
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
.weatherform{
    display: flex;
    align-items: center;
}
label{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.content{
    display: flex;
}
.buttonsdiv{
    display: flex;
    flex-direction: column;
}
.latitudediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.longitudediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    width: 200px;
    margin-left: 1rem;
    height: 30px;
    padding: 1rem;
    font-size: 20px;
    border-radius: 10px;
}
#getweather{
    margin-left: 180px;
}
a{
    text-decoration: none;
    color: black;
}